.newClass{
  background-color:blue;
  color:yellow;
}

.border-radius{
  border-radius: $border-radius;
}

.border-radius2{
  border-radius: 16px;
}

.half-width{
  display: inline-block;
  width: 50%;
}
